.login-container {
  margin-top: -100px;
}

.image-container img {
  height: 100px;
  width: auto;
}

.form-container {
  padding: 40px 0;
}

.form-container input {
  transition: all 0.5s ease-in-out;
}

.form-container input:hover,
input:active,
input:focus {
  border: 1px solid #ffd858 !important;
  color: #ffd858 !important;
  background-color: transparent !important;
  outline: #ffd858;
}

.form-container button {
  background-color: transparent;
  box-shadow: none;
  color: #666;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}
.form-container button:hover {
  border: 1px solid #ffd858 !important;
  color: #ffd858 !important;
  background-color: transparent !important;
}
